
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
jspm_packages/
bower_components/

# Optional npm cache directory
.npm/

# Environment variables
.env

# Build output
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Optional lock files
.pnpm-lock.yaml
shrinkwrap.yaml

# Coverage directories
coverage/

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# Sentry CLI files
.sentryclirc

# Storybook
.out/
storybook-static/

# Miscellaneous
*.tgz
*.zip
*.tar.gz
```